# 大盘指数行情列表

获取大盘指数实时行情列表，以表格的形式展示大盘指数实时行情。

调用方法：
```
import tushare as ts
df = ts.get_index()
```

返回值说明：

    code:指数代码
    name:指数名称
    change:涨跌幅
    open:开盘点位
    preclose:昨日收盘点位
    close:收盘点位
    high:最高点位
    low:最低点位
    volume:成交量(手)
    amount:成交金额（亿元）

市场指数：
```
ts.get_hist_data('sh') #获取上证指数k线数据，其它参数与个股一致，下同
ts.get_hist_data('sz') #获取深圳成指k线数据
ts.get_hist_data('hs300') #获取沪深300指数k线数据
ts.get_hist_data('sz50') #获取上证50指数k线数据
ts.get_hist_data('zxb') #获取中小板指数k线数据
ts.get_hist_data('cyb') #获取创业板指数k线数据
```

In [1]:
import tushare as ts

df = ts.get_index()

In [2]:
df

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,-0.07,2911.4529,2905.5618,2903.6467,2912.3134,2894.0390,167800207,1664.1208
1,000002,Ａ股指数,-0.07,3049.3071,3043.1279,3041.1007,3050.2133,3031.0179,167619325,1663.0709
2,000003,Ｂ股指数,0.18,293.0641,292.7770,293.3069,293.7392,292.6745,180883,1.0499
3,000008,综合指数,0.12,2648.0221,2639.3408,2642.6162,2649.7769,2629.1104,30059143,290.3185
4,000009,上证380,-0.19,4866.9110,4868.5392,4859.4657,4881.1350,4850.4207,43161894,446.3074
5,000010,上证180,-0.01,7800.3513,7780.1275,7779.3935,7801.9797,7745.5748,59266869,645.7806
6,000011,基金指数,-0.03,5912.8114,5910.4253,5908.7001,5915.9772,5899.9870,29897454,267.6896
7,000012,国债指数,0.01,166.2393,166.2302,166.2410,166.2764,166.1481,177690,1.7389
8,000016,上证50,0.00,2573.9288,2563.5835,2563.6871,2573.9594,2550.9660,26507281,326.6579
9,000017,新综指,-0.07,2458.4447,2453.4620,2451.8299,2459.1755,2443.6943,167608743,1662.7611
10,000300,沪深300,-0.11,3589.5055,3581.7057,3577.7522,3589.9841,3566.3140,96758501,1121.7669
11,000905,中证500,0.08,5308.0154,5304.6410,5308.6569,5332.6160,5294.4201,74850860,722.6687
12,399001,深证成指,-0.02,9475.7210,9465.8020,9463.7600,9514.9380,9436.9860,21314695869,2308.7864
13,399002,深成指R,-0.02,11428.3130,11416.3510,11413.8880,11475.6110,11381.5970,9963819871,1190.5511
14,399003,成份Ｂ指,-0.71,5990.8520,5981.1060,5938.9220,6001.9500,5933.3330,7753541,0.4513
15,399004,深证100R,-0.20,4972.0210,4963.8150,4953.8240,4981.2920,4941.8240,3217136527,485.3226
16,399005,中小板指,-0.01,6619.9990,6606.3270,6605.9860,6651.1840,6583.3690,1865664824,295.5012
17,399006,创业板指,0.17,1629.1270,1629.6100,1632.3200,1645.4450,1626.0860,1976526610,294.9122
18,399008,中小300,0.08,1270.7970,1269.1520,1270.2130,1277.2120,1265.9570,4273882852,508.2764
19,399100,新 指 数,0.04,7328.2240,7324.4100,7327.1500,7359.1730,7305.4450,21141490576,2303.5894
20,399101,中小板综,0.03,9626.8240,9622.5210,9625.4200,9665.8600,9592.3240,8065288135,855.8098
21,399106,深证综指,-0.07,1626.3780,1625.8390,1624.7160,1634.4320,1621.4700,21314695869,2308.7864
22,399107,深证Ａ指,-0.07,1700.5250,1699.9650,1698.8070,1708.9830,1695.4060,21293400232,2307.8826
23,399108,深证Ｂ指,-0.35,1071.4320,1070.1340,1066.4270,1073.0330,1064.9210,21295637,0.9038
24,399333,中小板R,-0.01,7350.4840,7335.3040,7334.9240,7385.1100,7309.8120,1865664824,295.5012
25,399606,创业板R,0.17,1706.3810,1706.8870,1709.7260,1723.4740,1703.1970,1976526610,294.9122

In [25]:
I000002 = ts.get_hist_data('000002')

In [27]:
I000002.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-07-25,24.38,24.58,24.18,24.00,355182.97,-0.20,-0.82,23.626,23.430,23.494,572169.62,480783.72,448171.61
2018-07-24,24.04,25.09,24.38,24.04,832814.25,0.63,2.65,23.284,23.358,23.496,583261.40,473870.72,464029.83
2018-07-23,22.96,23.90,23.75,22.90,555706.12,0.61,2.64,23.004,23.335,23.554,479472.41,429515.24,451979.58
2018-07-20,22.64,23.49,23.14,22.02,610195.38,0.46,2.03,22.884,23.361,23.691,454470.01,414407.29,454984.86
2018-07-19,22.70,22.96,22.68,22.50,506949.38,0.21,0.94,23.000,23.368,23.939,413942.01,388080.75,446693.42

In [4]:
sh = ts.get_hist_data('sh')

In [28]:
sh.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-07-25,2911.45,2912.31,2903.65,2894.04,1678002.12,-1.91,-0.07,2854.114,2833.884,2809.818,1662310.98,1429962.58,1353870.77
2018-07-24,2862.27,2911.46,2905.56,2862.27,2295783.00,46.02,1.61,2830.836,2821.296,2805.295,1568632.88,1388983.51,1334681.09
2018-07-23,2815.20,2863.57,2859.54,2809.62,1733828.00,30.27,1.07,2809.350,2813.503,2802.242,1320294.73,1276467.96,1282851.17
2018-07-20,2769.75,2837.86,2829.27,2753.84,1459076.88,56.72,2.05,2800.250,2809.060,2802.232,1189063.43,1224634.48,1257118.61
2018-07-19,2791.02,2805.01,2772.55,2764.49,1144864.88,-14.71,-0.53,2800.632,2800.856,2805.257,1132626.75,1215021.16,1247236.33

In [23]:
sz = ts.get_hist_data('sz') #获取深圳成指k线数据

In [24]:
sz

In [19]:
hs300 = ts.get_hist_data('hs300') #获取沪深300指数k线数据

In [21]:
hs300.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-07-25,3589.51,3589.98,3577.75,3566.31,967585.00,-3.96,-0.11,3521.288,3493.298,3454.514,1086340.01,909274.88,851557.49
2018-07-24,3530.66,3596.51,3581.71,3530.66,1569124.38,55.96,1.59,3492.002,3476.276,3448.589,1025883.68,884557.33,843924.15
2018-07-23,3471.86,3527.53,3525.75,3464.65,1190366.25,32.86,0.94,3465.536,3464.857,3446.059,836024.95,797193.71,807960.57
2018-07-20,3426.46,3505.93,3492.89,3398.95,1019847.25,64.55,1.88,3454.804,3458.200,3447.796,734515.70,754758.63,788380.79
2018-07-19,3444.80,3466.51,3428.34,3417.96,684777.19,-2.98,-0.09,3454.764,3445.423,3453.596,676458.05,738871.49,774947.36

In [17]:
sz50 = ts.get_hist_data('sz50') #获取上证50指数k线数据

In [22]:
sz50.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-07-25,2573.93,2573.96,2563.69,2550.97,265072.81,0.11,0.00,2514.802,2482.546,2451.306,339731.77,271368.44,253291.92
2018-07-24,2534.07,2579.59,2563.58,2534.07,488334.16,36.77,1.46,2486.216,2469.405,2445.754,322332.14,265713.06,253751.74
2018-07-23,2482.05,2533.77,2526.81,2478.19,396256.62,33.04,1.32,2459.588,2460.170,2442.911,257998.18,238253.11,242560.09
2018-07-20,2426.10,2506.94,2493.77,2409.05,344534.72,67.61,2.79,2443.980,2454.618,2443.393,218491.78,222960.81,234468.80
2018-07-19,2432.89,2452.45,2426.16,2418.66,204460.55,5.40,0.22,2440.598,2445.503,2447.890,189249.03,213429.37,227071.48

In [14]:
zxb = ts.get_hist_data('zxb') #获取中小板指数k线数据

In [15]:
zxb

In [9]:
cyb = ts.get_hist_data('cyb')

In [11]:
cyb

# 大单交易数据

获取大单交易数据，默认为大于等于400手，数据来源于新浪财经。

参数说明：

    code：股票代码，即6位数字代码
    date:日期，格式YYYY-MM-DD
    vol:手数，默认为400手，输入数值型参数
    retry_count : int, 默认3,如遇网络等问题重复执行的次数
    pause : int, 默认 0,重复请求数据过程中暂停的秒数，防止请求间隔时间太短出现的问题

返回值说明：

    code：代码
    name：名称
    time：时间
    price：当前价格
    volume：成交手
    preprice ：上一笔价格
    type：买卖类型【买盘、卖盘、中性盘】

调用方法：

import tushare as ts

df = ts.get_sina_dd('600848', date='2015-12-24') #默认400手
#df = ts.get_sina_dd('600848', date='2015-12-24', vol=500)  #指定大于等于500手的数据